.App {
  text-align: center;
}

.Instructions {
  padding-left: 3vh;
  padding-right: 3vh;
  min-height: 10vh;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Code {
  min-height: 10vh;
}

.Errors {
  list-style: none;
}

.Codes {
  list-style: none;
}