.App {
  text-align: center;
}

.Instructions {
  padding: 3vh;
  min-height: 10vh;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.CodeForm {
  min-height: 10vh;
}

.Codes {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    margin: auto;
    text-align: center;
}

.Codes div {
    text-align: center;
    width: 100%
}

section {
    align-items: center;
    text-align: center;
    background-color: #EEE;
    box-sizing: border-box;
    display: flex;
    height: 8vh;
    width: 100%;
}

section:nth-child(odd) {
      background-color: #CCC;
}

@media screen and (min-width: 450px) {
  section:nth-child(1n) {
      background-color: #EEE;
      width: 50%;
  }
  
  section:nth-child(4n+1),
  section:nth-child(4n+4) {
    background-color: #CCC;
  }
}

@media screen and (min-width: 1350px) {
  section:nth-child(1n) {
      background-color: #EEE;
      width: 25%;
  }

  section:nth-child(8n+1),
  section:nth-child(8n+3),
  section:nth-child(8n+6),
  section:nth-child(8n+8) {
      background-color: #CCC;
  }
}

.ResultCodes {
  min-height: 10vh;
}

.Errors {
  list-style: none;
}

.CodesWithUnknowns {
  list-style: none;
}
